/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  



  @media only screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #222;
        transition: background 0.3s ease;
      }
      
      .calculator {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background-color: #17171C;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        overflow: hidden;
      }
      
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    transition: background 0.3s ease;
  }
  
  @media only screen and (min-width: 601px) {
  .calculator {
    width: 320px;
    background-color: #17171C;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
}
  
  .theme-toggle {
    text-align: center;
    margin: 10px 0;
  }
  
  .display {
    background: 17171C;
    min-height: 160px;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
  }
  #previous-operation {
    color: #888;
    text-align: right;
    font-family: "Work Sans", sans-serif, monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  #current-operation {
    color: #fff;
    text-align: right;
    font-family: "Work Sans", sans-serif, monospace;
    font-size: 96px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }


  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  button {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    
    display: flex;
    height: 72px;
    padding: 12px, 16px, 12px, 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background: #2E2F38;
    border: none;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  button:hover {
    background: #555;
  }
  
  button.blue {
    background: #4B5EFC;
  }
  
  button.gray {
    background: #4E505F;
  }
  
  body.light {
    background-color: #f4f4f4;
  }
  
  body.light .calculator {
    background: #fff;
  }
  
  body.light .display {
    color: black;
  }

  body.light #current-operation {
    color: black;
  }
  
  body.light #previous-operation {
    color: #888;
  }
  
  body.light button {
    background: #f2f2f2;
    color: #181818;
  }
  
  body.light button.blue {
    background: #4B5EFC;
    color: #fff;
    
  }
  
  body.light button.gray {
    background: #D2D3DA;
    color: #181818;

  }
  
  body.light button:hover {
    background: #e0e0e0;
  }